@import "animations.css";

*{
  color: #CCA43B;
  font-family: 'Baloo Tamma 2', cursive;
}

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}

.background-div{
  height: 100%;
  background-color: #363636;
  overflow: hidden;
}

.navbar{
  width: 100%;
  height: 12.5%;
  background-color: #242F40;
  border-bottom: 0.15rem solid #26262e;
  box-shadow: 0px 75% 75% #26262e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.signup-background{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-section{
  width: 60%;
  height: 75%;
  background-color: #CCA43B;
  border-radius: 1rem;
  animation: signUp 1s forwards cubic-bezier(.85,0,.15,1);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.signup-movement-div{
  width: 50%;
  height: 100%;
  background-color: #242F40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-move-right{
  animation: signup-move-right 1.5s forwards cubic-bezier(.65,0,.35,1);
}

.signup-move-left{
  animation: signup-move-left 1.5s forwards cubic-bezier(.65,0,.35,1);
}

.move-signup-button{
  width: 40%;
  height: 15%;
  background-color: #CCA43B;
  color: #242F40;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 135%;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2.1rem;
  border: 5px solid #a3822f;
}

.sign-page-title{
  color: #242F40;
  background-color: transparent;
  font-size: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-input-div{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.signup-submit-button{
  transform: translateY(-170%);
  cursor: pointer;
  font-size: large;
  color: #242F40;
  font-weight: bold;
}

.signup-input{
  width: 60%;
  color: black;
}

.finish-signup-background{
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.finish-signup-middle-div{
  width: 75%;
  height: 100%;
  animation: finish-signup-middle-div-animation 2s forwards;
}

.flex-100{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.track-display-image{
  width: 60%;
  align-self: flex-start;
}

.paginate{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  background-color: #242f40;
  font-size: 2.5rem;
  font-weight: 1000;
}

.track-div:hover{
  animation: track-div 0.35s forwards;
}

.music-init-done{
  width: 10%;
  height: 8%;
  cursor: pointer;
  position: absolute;
  right: 18%;
  top: 8%;
  background-color: #CCA43B;
  color: #242F40;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.music-init-done:hover{
  background-color: #a3822f;
}

.music-init-submit-background-div{
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.music-init-submit-button{
  background-color: #242F40;
  color: #CCA43B;
  cursor: pointer;
  width: 20%;
  height: 30%;
  margin: 0px 5%;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 600;
}

.suggestion-box-logo{
  height: 70%;
  cursor: pointer;
}

.room-background-div{
  height: 100%;
  width: 55%;
  background-color: #1e1b1b;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages-background{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-header-dm-div{
  height: 12.5%;
  width: 100%;
  color: white;
  font-size: 2rem;
  align-self: flex-start;
  position: relative;
}

.messages-container{
  position: relative;
  width: 90%;
  height: 67.5%;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.write-message-div{
  height: 20%;
  width: 90%;
  margin-bottom: 2vh;
  position: relative;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.message-input-textarea{
  width: 75%;
  background-color: transparent;
  color: white;
  height: 50%;
  resize: none;
  border-radius: 1rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.message-input-textarea::-webkit-scrollbar {
  display: none;
}

.send-message-button{
  cursor: pointer;
  background-color: transparent;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-bubble-from-me{
  width: 50%;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #CCA43B;
  color: white;
  left: 48%;
  border-radius: 1rem;
  margin: 2vh 0vh;
  cursor: default;
  padding: 1%;
}

.message-bubble-not-from-me{
  max-width: 50%;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #363636;
  color: white;
  border-radius: 1rem;
  margin: 2vh 0vh;
  cursor: default;
  padding: 1%;
}

.message-date{
  position: absolute;
  bottom: -1.9rem;
  color: white;
  font-size: 0.7rem;
}

.search-image-button{
  height: 25%;
  cursor: pointer;
  opacity: 0.3;
}

.search-image-button:hover{
  opacity: 0.75;
}

.dropdown-half-div{
  height: 50%;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-half-div:hover{
  background-color: #2b3d59;
}